@import 'variables.less';

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Verdana, sans-serif;
    font-size: 16px;

    .play-area {
        width: 800px;
        margin: auto;
    }
}
